* {
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 1em;
}

.food {
    text-align: left;
}

.headline {
    font-weight: bold;
}
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}
